<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/meta.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <header>
      <%- include('../components/navbar.ejs', {loggedIn: loggedIn, firstName: firstName}) %>
    </header>
    <main class="d-flex flex-grow-1 bg-body-secondary overflow-hidden">
      <%- include('../components/sidebar.ejs') %>
      <div class="container mt-5 content overflow-y-auto">
        <h3>Recent Projects</h3>
        <%- include('../components/projects/project_card.ejs') %>
        <hr />

        <h3>My Projects</h3>
        <%- include('../components/projects/project_card.ejs') %>
        <hr />

        <h3>Team Projects</h3>
        <%- include('../components/projects/project_card.ejs') %>
      </div>
    </main>
  </body>
</html>
