<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/meta.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <header>
      <%- include('../components/navbar.ejs', {loggedIn: loggedIn, firstName: firstName}) %>
    </header>
    <main class="d-flex flex-grow-1 bg-body-secondary overflow-hidden">
      <%- include('../components/sidebar.ejs') %>
      <div class="container mt-5 content overflow-y-auto overflow-x-hidden">
        <!-- Commented this section out temporarily until backend is set up -->
        <!-- <h3>Recent Projects</h3> -->
        <%# include('../components/projects/project_card.ejs') #%>
        <!-- <hr /> -->

<<<<<<< HEAD
        
        <a href="../views/create_project.ejs" class="btn btn-dark">Create Project</a>
        <hr />

        <h3>My Projects</h3>
=======
        <div class="d-flex justify-content-between">
          <h3>My Projects</h3>
          <button class="btn btn-success">New Project</button>
        </div>
>>>>>>> 3b17ff5b2f0f5efcfb4a1eefa0fe7e29f514059e
        <hr />
        <div class="d-flex gap-4 py-2 mb-4 content overflow-x-auto">
        <% for (let project of projects) { if (project.teamId == null) {%>
          <%- include('../components/projects/project_card.ejs', {projectName: project.projectName, firstName: firstName, private: true}) %>
        <% }} %>
        </div>
        <h3>Team Projects</h3>
        <hr />
        <% for (let project of projects) { if (project.teamId != null) {%>
          <%- include('../components/projects/project_card.ejs', {projectName: project.projectName, teamName: project.teamName}) %>
        <% }} %>
      </div>
    </main>
  </body>
</html>
