<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/meta.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <header>
      <%- include('../components/navbar.ejs', {loggedIn: loggedIn, firstName: firstName}) %>
    </header>
    <main class="d-flex flex-grow-1 bg-body-secondary overflow-hidden">
      <%- include('../components/sidebar.ejs') %>
      <section id="announcements" class="container mt-5">
        <%- include('../components/actionbar.ejs', {context: 'project', page: 'project', project}) %>
        <div class="d-flex justify-content-between mt-4">
          <h3>Project Updates</h3>
          <a href="/project/<%-project.id %>" class="btn btn-dark d-flex align-items-center gap-1"><i class="bi bi-plus-lg"></i>Add Update</a>
        </div>
        <hr>
        <div class="content overflow-y-auto" style="height: 80%;">
          <%- include('../components/projects/announcement.ejs') %>
          <%- include('../components/projects/announcement.ejs') %>
          <%- include('../components/projects/announcement.ejs') %>
          <%- include('../components/projects/announcement.ejs') %>
          <%- include('../components/projects/announcement.ejs') %>
          <%- include('../components/projects/announcement.ejs') %>
          <%- include('../components/projects/announcement.ejs') %>
        </div>
      </section>
      <%- include('../components/projects/details_bar.ejs', {project, user}) %>
    </main>
  </body>
</html>
