<% let progressBarWidth = `style= "width: ${project.progress}%"`%>

<% if (context == 'project') {%>
<div class="col-2 bg-dark d-flex flex-column pb-2">
  <div class="d-flex w-100 mb-3">
    <button class="btn btn-dark rounded-0 w-50 text-leaf-green">Project</button>
    <button class="btn btn-dark rounded-0 w-50">Team</button>
  </div>
  <div class="card border-0 mx-auto">
    <div class="card-body bg-dark text-light">
      <h2><%- project.name %></h2>
      <p><%- project.description %></p>
    </div>
  </div>
  <img
    src="../../images/stock.jpg"
    alt="project image"
    class="mx-auto"
    style="width: 90%"
  />
  <div class="mt-auto container">
    <p class="text-light m-0">0/0 tasks completed</p>
    <div
      class="progress mb-3 mx-auto"
      role="progressbar"
      aria-label="project progress"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
      style="height: 1.5rem;"
    >
      <div class="progress-bar bg-success" <%- progressBarWidth %>
        ><%- project.progress %>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-dark rounded-0"
    data-bs-toggle="modal"
    data-bs-target="#projectSettingsModal"
  >
    Project Settings
  </button>

  <div
    class="modal fade"
    id="projectSettingsModal"
    tabindex="-1"
    aria-labelledby="projectSettingsModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="projectSettingsLabel">
            Delete Project?
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center text-danger">
          <strong>This action can not be undone.</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">
            Cancel
          </button>
          <a
            <%if (user.id == project.creator_id) {%>
              href="/project/<%- project.id %>/delete"
            <% } else { %>
              href="/project/<%- project.id %>"
              <% } %>
            class="btn btn-outline-danger">
            Yes, delete this project forever.
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<% } else if (context == 'task') {%>
  <div class="col-2 bg-dark d-flex flex-column pb-2">
    <div class="d-flex w-100 mb-3">
      <button class="btn btn-dark rounded-0 w-50 text-leaf-green">Task</button>
      <button class="btn btn-dark rounded-0 w-50">Assigned</button>
    </div>
    <div class="card border-0 mx-auto">
      <div class="card-body bg-dark text-light">
        <h2><%- task.name %></h2>
        <p><%# task.description #%></p>
      </div>
    </div>
    <img
      src="../../images/stock.jpg"
      alt="project image"
      class="mx-auto"
      style="width: 90%"
    />

    <a href="/project/<%- project.id %>/tasks" class="mt-auto">
      <button type="button" class="btn btn-dark rounded-0 w-100">
        Close Task
      </button>
    </a>
  </div>
<% } %>